version: "3.9"

services:
  db:
    image: postgres:16
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  api:
    build:
      context: .
      dockerfile: docker/api.Dockerfile
    ports:
      - "8000:8000"
    volumes:
      - ./services/api:/app
    environment:
      DATABASE_URL: postgresql://postgres:postgres@db:5432/postgres
      CORS_ORIGINS: http://localhost:19000,http://localhost:19006,http://localhost:8081,http://localhost:3000
      APP_ENV: local
      API_HOST: 0.0.0.0
      API_PORT: 8000
      ADMIN_EMAIL: ${ADMIN_EMAIL:-admin@richharbor.com}
      ADMIN_PASSWORD: ${ADMIN_PASSWORD:-1q2w3e}
      EMAIL_HOST: ${EMAIL_HOST:-smtp.gmail.com}
      EMAIL_PORT: ${EMAIL_PORT:-587}
      EMAIL_USER: ${EMAIL_USER:-cto@richharbor.com}
      EMAIL_PASSWORD: ${EMAIL_PASSWORD:-gbeg uwye awzv cqbm}
    depends_on:
      - db

volumes:
  postgres_data:
